.slick-list {
  overflow: visible !important;
}

.slick-prev {
  z-index: 999;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0 !important;
  top: 100% !important;
  transform: none !important;

  padding: 10px;
  cursor: pointer;
  z-index: 999;

  &:before,
  &:before {
    color: #000;
  }
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

.card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: auto 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 400px;

  .image {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      color: #58cdc9;
      margin: 0;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .button {
    display: inline-block;
    max-width: 120px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #58cdc9;
    color: white;
    text-decoration: none;
    border-radius: 0;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.wp-block-literati-example-carousel__controls {
  margin: 0 auto !important;
  max-width: 100% !important;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  background: #250d59;

  a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
  }
}
