#phoenix-form-root {
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  bottom: 6rem;
}

@media screen and (max-width: 1024px) {
  #phoenix-form-root{
    right: 1rem!important;
  }

  [aria-label="Show Lead Form"] {
    bottom: 6rem!important;
  }
}

.phoenix-form-embed-root {
  right: auto;
  bottom: auto;
  position: relative;
}

.phoenix-no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#phoenix-show-form-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #4395ce;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}