#phoenix-form-root {
  z-index: 100;
  position: fixed;
  right: 1rem;
  bottom: 6rem;
}

.phoenix-form-embed-root {
  right: auto;
  bottom: auto;
  position: relative;
}

.phoenix-no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#phoenix-show-form-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4395ce;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}