#phoenix-show-form-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #4395ce;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

#phoenix-form-root {
  z-index: 100;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.phoenix-form-embed-root {
  right: auto;
  bottom: auto;
  position: relative;
}

.phoenix-no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


@media screen and (max-width: 1024px) {
  #phoenix-show-form-button{
    right: 2rem;
    bottom: 6rem;
  }
}


